<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/logo_sin_bordes.png" alt="Logo de EyE Asesores de seguros">
      </a>
      <ul class="navbar-nav d-flex justify-content-center align-items-centeri">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nuestro portafolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Compañías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
